<section class="border-b-2 bg-gray-100 py-12">
  <nav class="container mx-auto flex items-center gap-40">
    <div>
      <a
        class="cursor-pointer text-2xl font-bold text-blue-800"
        routerLink="/note"
        >Notes</a
      >
    </div>

    <div class="flex items-center justify-start gap-4">
      <a
        routerLink="/about"
        class="mt-8 cursor-pointer px-12 py-8 decoration-red-400 hover:rounded-md hover:bg-slate-300"
        >About</a
      >
      <a
        *ngIf="isSignedIn; else login"
        (click)="logout()"
        class="mt-8 cursor-pointer px-12 py-8 hover:rounded-md hover:bg-slate-300"
        >Logout</a
      >
      <ng-template #login>
        <a
          routerLink="/user/login"
          class="mt-8 cursor-pointer px-12 py-8 hover:rounded-md hover:bg-slate-300"
          >Login</a
        >
      </ng-template>
    </div>
  </nav>
</section>
