<section class="container mx-auto">
  <h1 class="my-32 text-xl">Edit Note</h1>
  <form [formGroup]="editNoteForm" (ngSubmit)="edit()">
    <label>Title</label>
    <app-input
      [control]="editNoteForm.controls.title"
      fieldName="Title"
      placeholder="Enter Title"
    ></app-input>

    <label class="mt-12 inline-block">Description</label>
    <app-input
      [control]="editNoteForm.controls.description"
      fieldName="Description"
      placeholder="Enter Description"
      type="textarea"
    ></app-input>

    <div class="flex gap-24">
      <button
        type="submit"
        class="mt-24 rounded-md bg-blue-600 px-24 py-8 text-white hover:bg-blue-700"
      >
        Save
      </button>
      <button
        type="button"
        routerLink="/"
        class="mt-24 rounded-md bg-gray-500 px-20 py-8 text-white hover:bg-gray-600"
      >
        Cancel
      </button>
    </div>
  </form>
</section>
