<div class="container mx-auto">
  <div class="mb-4 flex items-center gap-5">
    <span>Search Note</span
    ><input
      class="w-1/4 rounded border border-gray-400 px-3 py-1.5 focus:border-indigo-400 focus:outline-none"
      type="text"
      placeholder="Type note title here"
      #searchBox
      (input)="search(searchBox.value)"
    />
  </div>
  <div class="mb-4 inline-block rounded-md bg-blue-500 px-3 py-2">
    <a class="cursor-pointer font-medium text-white" (click)="add()"
      >Add note</a
    >
  </div>

  <div class="overflow-x-auto shadow-md">
    <table class="w-full text-left text-sm text-gray-500">
      <thead class="bg-gray-100 text-xs uppercase text-gray-700">
        <tr>
          <th scope="col" class="px-6 py-3">Title</th>
          <th scope="col" class="px-6 py-3">Description</th>
          <th scope="col" class="px-6 py-3">Created Date</th>
          <th scope="col" class="px-6 py-3">Modified Date</th>
          <th scope="col" class="px-6 py-3">
            <span class="sr-only">Edit</span>
          </th>
          <th scope="col" class="px-6 py-3">
            <span class="sr-only">Delete</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let note of notes" class="border-b bg-white">
          <th
            scope="row"
            class="whitespace-nowrap px-6 py-4 font-medium text-gray-900"
          >
            {{ note.title }}
          </th>
          <td class="px-6 py-4">{{ note.description }}</td>
          <td class="px-6 py-4">{{ note.createdDate | date: "short" }}</td>
          <td class="px-6 py-4">{{ note.modifiedDate | date: "short" }}</td>
          <td class="px-6 py-4 text-right">
            <a
              class="font-medium text-blue-600 hover:underline"
              (click)="edit(note.id!)"
              >Edit</a
            >
          </td>
          <td class="px-6 py-4 text-right">
            <a
              class="font-medium text-blue-600 hover:underline"
              (click)="deleteNote(note.id!)"
              >Delete</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
