<div class="container mx-auto w-1/3">
  <h1 class="my-8 text-xl">Login</h1>
  <div
    *ngIf="errorMessage"
    class="inline-block h-10 w-full rounded-md bg-red-300 py-2 text-center text-red-900"
  >
    {{ errorMessage }}
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <label>Username</label>
    <app-input
      [control]="loginForm.controls.username"
      fieldName="Username"
      placeholder="Type Username"
    ></app-input>
    <label class="mt-3 inline-block">Password</label>
    <app-input
      type="password"
      [control]="loginForm.controls.password"
      fieldName="Password"
      placeholder="Type Password"
    ></app-input>
    <div class="flex items-center gap-10">
      <button
        [disabled]="!loginForm.valid"
        type="submit"
        class="mt-6 rounded-md bg-blue-600 px-6 py-2 text-white hover:bg-blue-700 disabled:cursor-not-allowed disabled:bg-blue-600 disabled:opacity-50"
      >
        Login
      </button>
      <a
        class="mt-6 inline-block cursor-pointer py-2 font-medium text-blue-600 hover:underline"
        (click)="signup()"
        >Sign up</a
      >
    </div>
  </form>
</div>
