<section class="container mx-auto">
  <h1 class="my-2 text-xl">Notes App</h1>
  <ul class="ml-8 list-disc">
    <li>
      A simple note-taking web app where users can sign up, log in, and manage
      their notes
    </li>
    <li>
      Integrated JSON Web Token-based authentication and implemented token
      refresh mechanism, stored in an HttpOnly cookie to enhance security
    </li>
    <li>
      Implemented repository design pattern to create an abstraction between the
      data access and business logic layers. Additionally, the unit of work
      design pattern to aggregate multiple database operations into a single
      transaction
    </li>
    <li>
      Technologies: ASP.NET Core Web API v8, Dapper, SqlKata, Autofac,
      AutoMapper, Angular v17, Tailwind CSS, SQLite
    </li>
  </ul>
</section>
