<section class="container mx-auto">
  <h1 class="my-4 text-xl">Notes App</h1>
  <ul class="ml-8 list-disc">
    <li>
      Simple note taking app. You can signup to the app. Basic validations added
      in every form
    </li>
    <li>
      Username already exist check - async validation implemented in signup
      component
    </li>
    <li>Authorization done using JWT</li>
    <li>User can add, edit, update, delete and search your notes</li>
    <li>Styling is done using Tailwind CSS</li>
    <li>
      Technologies used: ASP.NET Core Web API v6, Angular v14.1.0, Tailwind CSS
      v3.1.4
    </li>
  </ul>
</section>
