<section class="container mx-auto">
  <h1 class="my-32 text-xl">Add Note</h1>
  <form [formGroup]="addNoteForm" (ngSubmit)="add()">
    <label>Title</label>
    <app-input
      [control]="addNoteForm.controls.title"
      ks
      fieldName="Title"
      placeholder="Enter Title"
    ></app-input>

    <label class="mt-12 inline-block">Description</label>
    <app-input
      [control]="addNoteForm.controls.description"
      fieldName="Description"
      placeholder="Enter Description"
      type="textarea"
    ></app-input>

    <div class="flex gap-24">
      <button
        [disabled]="!addNoteForm.valid"
        type="submit"
        class="mt-24 rounded-md bg-blue-600 px-24 py-8 text-white hover:bg-blue-700 disabled:cursor-not-allowed disabled:bg-blue-600 disabled:opacity-50"
      >
        Add
      </button>
      <button
        type="button"
        routerLink="/"
        class="mt-24 rounded-md bg-gray-500 px-20 py-8 text-white hover:bg-gray-600"
      >
        Cancel
      </button>
    </div>
  </form>
</section>
