<header class="border-b-2 bg-gray-100 py-3">
  <nav class="container mx-auto flex items-center gap-10">
    <div>
      <a class="text-2xl" routerLink="/note">Notes</a>
    </div>

    <div class="flex items-center justify-start gap-1">
      <a
        routerLink="/about"
        class="mt-2 cursor-pointer px-3 py-2 decoration-red-400 hover:rounded-md hover:bg-slate-300"
        >About</a
      >
      <a
        *ngIf="visibleLogout"
        (click)="logout()"
        class="mt-2 cursor-pointer px-3 py-2 hover:rounded-md hover:bg-slate-300"
        >Logout</a
      >
      <a
        *ngIf="!visibleLogout"
        (click)="login()"
        class="mt-2 cursor-pointer px-3 py-2 hover:rounded-md hover:bg-slate-300"
        >Login</a
      >
    </div>
  </nav>
</header>
